<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.jming.musicServer.dao.CollectMapper">

    <resultMap id="BaseResultMap" type="club.jming.musicServer.domain.Collect">
        <id property="collectId" column="collect_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="musicId" column="music_id" jdbcType="INTEGER"/>
        <result property="musicListId" column="music_list_id" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        collect_id,user_id,type,
        music_id,music_list_id,update_time
    </sql>
</mapper>
