<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.jming.musicServer.dao.ListMusicMapper">

    <resultMap id="BaseResultMap" type="club.jming.musicServer.domain.ListMusic">
            <id property="listMusicId" column="list_music_id" jdbcType="INTEGER"/>
            <result property="musicId" column="music_id" jdbcType="INTEGER"/>
            <result property="musicListId" column="music_list_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        list_music_id,music_id,music_list_id
    </sql>
</mapper>
