<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.BasicAlbumMapper">

    <resultMap id="BaseResultMap" type="club.jming.musicSpider.domain.BasicAlbum">
            <id property="albumId" column="album_id" jdbcType="INTEGER"/>
            <result property="albumName" column="album_name" jdbcType="VARCHAR"/>
            <result property="singerId" column="singer_id" jdbcType="INTEGER"/>
            <result property="albumDescription" column="album_description" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="imgAddress" column="img_address" jdbcType="VARCHAR"/>
            <result property="clickNumber" column="click_number" jdbcType="INTEGER"/>
            <result property="showStatus" column="show_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        album_id,album_name,singer_id,
        album_description,update_time,img_address,
        click_number,show_status
    </sql>
</mapper>
