<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.jming.musicCf.mapper.BasicMusicMapper">

    <resultMap id="BaseResultMap" type="club.jming.musicSpider.domain.BasicMusic">
            <id property="musicId" column="music_id" jdbcType="INTEGER"/>
            <result property="musicName" column="music_name" jdbcType="VARCHAR"/>
            <result property="singerId" column="singer_id" jdbcType="INTEGER"/>
            <result property="albumId" column="album_id" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="musicAddress" column="music_address" jdbcType="VARCHAR"/>
            <result property="imgAddress" column="img_address" jdbcType="VARCHAR"/>
            <result property="clickNumber" column="click_number" jdbcType="INTEGER"/>
            <result property="musicType" column="music_type" jdbcType="VARCHAR"/>
            <result property="showStatus" column="show_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        music_id,music_name,singer_id,
        album_id,update_time,music_address,
        img_address,click_number,music_type,
        show_status
    </sql>
</mapper>
